# Day4 - 실습

## Day3 실습과제 review

In [1]:
# 내가 짠 코드
nums = list(map(int, input("Input an integer: ")))
for num in nums:
    for _ in range(num):
        print("★", end = '')
    print()

Input an integer: 33
★★★
★★★

In [3]:
# 조교 코드
# number = input("Input an integer: ")
number = "3159"
for x in number:
    print("★" * int(x))

★★★
★
★★★★★
★★★★★★★★★

In [4]:
nums = []
input_data = input("Enter a number: ")

while input_data != "done":
    nums.append(float(input_data))
    input_data = input("Enter a number: ")

print()
print(nums)
average = sum(nums) / len(nums)
print("Average: %.1f" % average)
print("Maximum: %.1f" % max(nums))
print("Minimum: %.1f" % min(nums))

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: done

[1.0, 2.0, 3.0, 4.0, 5.0]
Average: 3.0
Maximum: 5.0
Minimum: 1.0

## List 2

In [8]:
a = [1, 4, 8, 2, 8, 9 , 34, 67]

result = a.sort()

print(result)
print(a)

None
[1, 2, 4, 8, 8, 9, 34, 67]

In [11]:
a.sort(reverse=True)
print(a)
b = set(a)
print(b)

[67, 34, 9, 8, 8, 4, 2, 1]
{1, 34, 67, 4, 2, 8, 9}

In [14]:
a = [1, 9, 4, 6, 2]
b = sorted(a) # 원본 안바뀜 a.sort()는 반환 값이 없고 원본 a가 바뀜
print(a, b)

[1, 9, 4, 6, 2] [1, 2, 4, 6, 9]

In [17]:
nums = [i + 1 for i in range(10)]
nums = list(range(1, 11))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
min(nums), max(nums), sum(nums)

(1, 10, 55)

In [1]:
nums = []

while True:
    try:
        input_data = input("Enter a number: ")
        if input_data == "done":
            break
        else:
            nums.append(float(input_data))
    except:
        print("숫자 혹은 done을 입력하세요.")
    

print()
print(nums)
average = sum(nums) / len(nums)
print("Average: %.1f" % average)
print("Maximum: %.1f" % max(nums))
print("Minimum: %.1f" % min(nums))

Enter a number: 1
Enter a number: 6
Enter a number: 3
Enter a number: 5
Enter a number: ㅇ
숫자 혹은 done을 입력하세요.
Enter a number: done

[1.0, 6.0, 3.0, 5.0]
Average: 3.8
Maximum: 6.0
Minimum: 1.0

In [112]:
a = 150.37
b = 312
c = "abc"
d = 1234556

# 소수점 제어: '%.소수점자릿수f' % 숫자
print(f"{a:.3f}")

# 자릿수 제어: '%자릿수s' '%자릿수d'
print(f"{b:10d}")
print(f"{c:5s}", end="|")
print()

# 자릿수 제어: float
print(f"{a:8f}")
print(f"{a:8}")

# 오른쪽 정렬 (문자열: default 왼쪽정렬)
print(f"{c:>5s}")

# 채우기
print(f"{b:05d}")
print(f"{a:08.3f}")

# 채우기와 정렬 조합
print(f"{b:0<5d}")
print(f"{b:x<5d}")
print(f"{a:0<8.3f}")
print(f"{a:-<8.3f}")

# 숫자에 comma 넣기
print(f"{d:,}")

150.370
       312
abc  |
150.370000
  150.37
  abc
00312
0150.370
31200
312xx
150.3700
150.370-
1,234,556

- '{인덱스:<길이}'.format(값)
>>> '{0:<10}'.format('python')
'python    '

## 튜플

In [18]:
t = ()
type(t)

tuple

In [21]:
t1 = 1, 2, 4
t1

(1, 2, 4)

In [22]:
# 연산자의 괄호와 구분하기 위해 원소가 하나인 경우 콤마 찍어주기
t2 = (1)
t3 = (1,)

type(t2), type(t3)

(int, tuple)

In [23]:
t1 = (1, 2)
t2 = ('a', 'b')
t1 + t2

(1, 2, 'a', 'b')

## 집합

In [47]:
s = set("hellohello")

In [48]:
print(s.discard(1))

None

In [49]:
s = {}
type(s)

dict

In [50]:
s = set()
s

set()

## 딕셔너리

In [54]:
d = dict()
d

{}

In [55]:
d["Kim"] = 1
d

{'Kim': 1}

In [71]:
d["Park"] = 2
d

{'Park': 2}

In [72]:
d['Kim'] = 2
d

{'Park': 2, 'Kim': 2}

In [64]:
d.keys()

dict_keys(['Kim', 'Park'])

In [60]:
d.values()

dict_values([2, 2])

In [65]:
d.items()

dict_items([('Kim', 2), ('Park', 2)])

In [66]:
'kim' in d

False

In [67]:
'Kim' in d

True

In [73]:
del d['Kim']
d

{'Park': 2}

In [79]:
# 과제 실습 1 - 모든 value 출력

d = {'youn': 1, 'park': 2, 'kim': 10}

for value in d.values():
    print(value, end=" ")
    
print()

for key in d:
    print(d[key], end=" ")

print()

for key, value in d.items():
    print(value, end=" ")

1 2 10
1 2 10
1 2 10

In [113]:
# 교재 실습 1 - 문자열에서 각 문자가 몇 번 나오는지 dictionaly로 저장

string = "aabbbc"
d = {}

for char in set(string):
    d[char] = string.count(char)

d

{'c': 1, 'b': 3, 'a': 2}

In [114]:
d3 = {}
for char in string:
    if char in d3:
        d3[char] += 1
    else:
        d3[char] = 1
        
d3

{'a': 2, 'b': 3, 'c': 1}

In [115]:
d2 = {}
for char in string:
    try:
        d2[char] += 1
    except:
        d2[char] = 1

d2

{'a': 2, 'b': 3, 'c': 1}

## 파일

In [131]:
fw = open("new.txt", "w")

for i in range(1, 6):
    data = f"{i} asdf\n"
    fw.write(data)

fw.close()

In [156]:
fr = open("new.txt", "r")



#fr.close()

In [169]:
fr.tell()

36

In [170]:
line = fr.readline()
line

''

In [177]:
# 교재 실습 1

fr = open("new.txt", "r")

d = {}

for line in fr:
    for word in line.split():
        if word in d:
            d[word] += 1
        else:
            d[word] = 1
            
for key, value in d.items():
    print(f"{key} {value}")

fr.close()

first 1
line 3
second 1
third 1

In [182]:
fr = open("new.txt", "r")

d = {}

string = fr.read().split()

for word in set(string):
    d[word] = string.count(word)
    
for key, value in d.items():
    print(f"{key} {value}")
    
fr.close()

third 1
first 1
second 1
line 3